### Project: analyse data on countries from around the world
The objective for this project is to analyse data from the CIA World Factbook, which has statistics about all countries in the world. The purpose is to find out some interesting stats from the data such as the fastest growing country by population size, the least populated country in the world, as well as the variation between land and water area for different countries.

The factbook contains demographic information based on population figures as of 2015, click [here](https://www.cia.gov/library/publications/the-world-factbook/) to visit the world factbook website.

The below are descriptions for the data columns in this data set:
- `name`: name of country
- `area`: total land and sea area of country
- `population`: population of country
- `population_growth`: country's population growth in percentage
- `birth_rate`: country's birth rate, or number of births a year per 1,000 people
- `death_rate`: country's death rate, or number of death a year per 1,000 people
- `area`: country's total area (both land and water)
- `area_land`: country's land area in square kilometers
- `area_water`: country's waterarea in square kilometers

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [2]:
%%sql
SELECT * 
FROM facts 
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Some interesting stats for the least and most populated countries in the world.

| Country     | Description            |Stat
| ----------- | ---------------------- |---------
| China       | Population (highest)   |1.3 billion
| Antartica   | Population (lowest)    |0 

The world's southernmost continent which is Antarctica is almost wholly covered by an ice sheet and is about 5.5 million square miles (14.2 million square km) in size, click [here](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiEttCZg_bpAhUi2-AKHSolCnkQFjAJegQIAhAB&url=https%3A%2F%2Fwww.britannica.com%2Fplace%2FAntarctica&usg=AOvVaw1aWyAFBYoqZArwblXY4x-c) to discover more interesting facts about the coldest continent in the world!

In [3]:
%%sql
SELECT  MIN(population), 
        MAX(population), 
        MIN(population_growth), 
        MAX(population_growth) 
FROM facts
WHERE name != 'World';

 * sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

The world factbook [page](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html) for Antarctica also mentions that there arent any indigenous inhabitants on the continent except for permanent and summer-only staffed research stations.

In [4]:
%%sql
SELECT name AS country, 
       population 
FROM facts 
WHERE population = (SELECT MIN(population) FROM facts);

 * sqlite:///factbook.db
Done.

[('Antarctica', 0)]

The world's most populous country is China, with a population of around 1.4 billion in 2019.

In [5]:
%%sql
SELECT  name AS country, 
        population 
FROM facts 
WHERE population = (SELECT MAX(population) FROM facts 
                   WHERE name != 'World');

 * sqlite:///factbook.db
Done.

[('China', 1367485388)]

Displayed below are the most densely populated countries in the world calculated by using this formula:

> *population_density = ( population / area ) âˆ— 100*

In [20]:
%%sql
SELECT  name AS country, 
        area, 
        population, 
        ROUND((CAST(population AS float)/area * 100), 2) AS population_density
FROM facts 
ORDER BY population_density DESC
LIMIT 10;

 * sqlite:///factbook.db
Done.

[('Macau', 28, 592731, 2116896.43),
 ('Monaco', 2, 30535, 1526750.0),
 ('Singapore', 697, 5674472, 814127.98),
 ('Hong Kong', 1108, 7141106, 644504.15),
 ('Gaza Strip', 360, 1869055, 519181.94),
 ('Gibraltar', 6, 29258, 487633.33),
 ('Bahrain', 760, 1346613, 177185.92),
 ('Maldives', 298, 393253, 131964.09),
 ('Malta', 316, 413965, 131001.58),
 ('Bermuda', 54, 70196, 129992.59)]

The country which has highest population growth rate in the world is South Sudan.

In [13]:
%%sql
SELECT  name AS country, 
        population_growth 
FROM facts
WHERE population_growth = (SELECT MAX(population_growth) FROM facts
                           WHERE name != 'World');

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02)]

The countries that have the highest water to land ratios are British Indian Ocean Territory, Virgin Islands and Puerto Rico.

In [8]:
%%sql
SELECT  name AS country, 
        ROUND(CAST (area_water AS FLOAT) / area, 4) AS Ratio
FROM facts
ORDER BY Ratio DESC
LIMIT 3;

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 0.9989),
 ('Virgin Islands', 0.8188),
 ('Puerto Rico', 0.3568)]

These are the Top 5 countries with a higher death rate estimate than birth rate, it could be observed that these countries tend to be located within Europe.

In [9]:
%%sql
SELECT  name AS country, 
        death_rate, 
        birth_rate 
FROM facts
WHERE death_rate > birth_rate
ORDER BY death_rate DESC
LIMIT 5;

 * sqlite:///factbook.db
Done.

[('Ukraine', 14.46, 10.72),
 ('Bulgaria', 14.44, 8.92),
 ('Latvia', 14.31, 10.0),
 ('Lithuania', 14.27, 10.1),
 ('Russia', 13.69, 11.6)]

The Top 5 countries with high population growth rate will be from Africa, this data implies that Africa is the continent with the fastest growing population in the world.

In [10]:
%%sql
SELECT  name AS country, 
        population_growth
FROM facts
ORDER BY population_growth DESC
LIMIT 5;

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02),
 ('Malawi', 3.32),
 ('Burundi', 3.28),
 ('Niger', 3.25),
 ('Uganda', 3.24)]