### Project: explore statistics of countries from around the world
The objective for this project is to analyse data from the CIA World Factbook, which has statistics about all of the countries on Earth. The factbook contains demographic information based on population figures as of 2015.

Please click [here](https://www.cia.gov/library/publications/the-world-factbook/) to visit the world factbook website.

The below are descriptions for the data columns in this data set:
- `name`: name of country
- `area`: total land and sea area of country
- `population`: population of country
- `population_growth`: country's population growth in percentage
- `birth_rate`: country's birth rate, or number of births a year per 1,000 people
- `death_rate`: country's death rate, or number of death a year per 1,000 people
- `area`: country's total area (both land and water)
- `area_land`: country's land area in square kilometers
- `area_water`: country's waterarea in square kilometers

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [2]:
%%sql
SELECT * from facts 
limit 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Some interesting stats for the least and most populated countries in the world

| Country     | Description            |Stat
| ----------- | ---------------------- |---------
| China       | Population (highest)   |1.3 billion
| Antartica   | Population (lowest)    |0 

The world's southernmost continent which is Antarctica is almost wholly covered by an ice sheet and is about 5.5 million square miles (14.2 million square km) in size. Please click [here](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiEttCZg_bpAhUi2-AKHSolCnkQFjAJegQIAhAB&url=https%3A%2F%2Fwww.britannica.com%2Fplace%2FAntarctica&usg=AOvVaw1aWyAFBYoqZArwblXY4x-c) to discover more interesting facts about the coldest continent in the world!

In [3]:
%%sql
SELECT min(population), 
max(population), 
min(population_growth), 
max(population_growth) from facts
WHERE name != 'World';

 * sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

The world factbook [page](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html) for Antarctica also mentions that there arent any indigenous inhabitants on the continent except for permanent and summer-only staffed research stations.

In [4]:
%%sql
SELECT code, name as 'country', population from facts 
WHERE population = (SELECT min(population) from facts);

 * sqlite:///factbook.db
Done.

[('ay', 'Antarctica', 0)]

China, is located in East Asia, and is the largest of all Asian countries as well as the largest population of any country in the world. Please click [here](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj788CjiPbpAhVL8BQKHakrA3sQFjAAegQICRAC&url=https%3A%2F%2Fwww.cia.gov%2Flibrary%2Fpublications%2Fthe-world-factbook%2Fgeos%2Fch.html&usg=AOvVaw3h9f7eI6nnpF9YzcoMTVPW) to find out more facts on China.

In [16]:
%%sql
SELECT code, name as 'country', population from facts 
WHERE population = (SELECT max(population) from facts 
                   WHERE name != 'World');

 * sqlite:///factbook.db
Done.

[('ch', 'China', 1367485388)]

Displayed below are some of the most densely populated countries in the world, the population size is above the worlds population average while the area (both land and water) is also below the world average.

In [6]:
%%sql
SELECT * from facts 
WHERE population > (SELECT avg(population) FROM facts) 
AND area < (SELECT avg(area) FROM facts)
order by population desc;

 * sqlite:///factbook.db
Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54)]

The country which has highest population growth rate in the world is South Sudan. Please click [here](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi7wsqZiPbpAhU6AWMBHZIGD2sQFjAAegQICRAC&url=https%3A%2F%2Fwww.cia.gov%2Flibrary%2Fpublications%2Fthe-world-factbook%2Fgeos%2Fod.html&usg=AOvVaw3DlhdRRlFNg40GW6bPqTLJ) to discover more about South Sudan on the world factbook website.

In [7]:
%%sql
SELECT code, name as 'country', population_growth 
from facts
WHERE population_growth = (SELECT max(population_growth) from facts
                           WHERE name != 'World');

 * sqlite:///factbook.db
Done.

[('od', 'South Sudan', 4.02)]

Some of the countries which have the highest ratios of water to land are British Indian Ocean Territory, Virgin Islands and Puerto Rico.

In [8]:
%%sql
SELECT code, name as 'country', round(cast (area_water as float) / area, 4) 
as 'Ratio' from facts
ORDER BY Ratio desc
limit 3;

 * sqlite:///factbook.db
Done.

[('io', 'British Indian Ocean Territory', 0.9989),
 ('vq', 'Virgin Islands', 0.8188),
 ('rq', 'Puerto Rico', 0.3568)]

These are the Top 5 countries with a higher death rate estimate than birth rate.

In [9]:
%%sql
SELECT code, name as 'country', death_rate, birth_rate from facts
WHERE death_rate > birth_rate
limit 5;

 * sqlite:///factbook.db
Done.

[('au', 'Austria', 9.42, 9.41),
 ('bo', 'Belarus', 13.36, 10.7),
 ('bk', 'Bosnia and Herzegovina', 9.75, 8.87),
 ('bu', 'Bulgaria', 14.44, 8.92),
 ('hr', 'Croatia', 12.18, 9.45)]

These countries will tend to add most people to their population every year based on the 2015 data set: South Sudan, Malawi and Burundi have taken the top 3 positions prioritised solely on their projected population growth, it could be observed that the top 5 countries will be from Africa, this data implies that Africa might be the continent with fastest growing population in the world :).

In [10]:
%%sql
SELECT code, name as 'country', population_growth
from facts
order by population_growth desc
limit 5;

 * sqlite:///factbook.db
Done.

[('od', 'South Sudan', 4.02),
 ('mi', 'Malawi', 3.32),
 ('by', 'Burundi', 3.28),
 ('ng', 'Niger', 3.25),
 ('ug', 'Uganda', 3.24)]